.container-fluid {
  font-family: Bahnschrift Light;
  text-align: center;
}

.nor {
  white-space: nowrap;
}

.container:placeholder {
  color: white;
  opacity: 0.3; /* Firefox */
}

input[type="text"]:focus {
  border: none;
  outline: none;
}
